.wrapper-DeviceDetail {
    &__content {
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
        border-radius: 16px;
        padding: 16px 24px;
        width: 95%;
        min-height: 50vh;
        height: 100%;
        
    }

    .DeviceDetail-info {
        width: 100%;
        &__item {
            display: flex;
            padding: 10px 0px;

            .key {
                flex: 1.5;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                color: #282739;
                
            }

            .value {
                flex: 4;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    .key {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #282739;
        padding-bottom: 10px;
    }

    .value {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
}
