.wrapper-number{
    &__content {
        width: 94%;
    }
    .content-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .drop-down {
            width: 200px;
        }
    }
}