.wrapper-addService {
    &-content {
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
        border-radius: 16px;
        padding: 16px 24px;

        .addService-content__input {
            display: flex;
            gap: 20px;
            align-items: start;
            

            .input-item {
                width: 50%;

                .textarea-label {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 27px;
                    display: inline-block;
                    text-align: left !important;
                    padding-bottom: 8px;
                }

                .input-textArea {
                    font-size: 18px;
                }
            }
        }
    }
}
