.wrapper-report{
    .content-table {
        margin-top: 20px;
        width: 94%;
    }
    .date-time__label {
            font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: #282739;
    margin-bottom: 8px;
    }
}