.wrapper-number{
    &__content {
        width: 94%;
    }
    .content-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .drop-down {
            width: 200px;
        }
    }

    .date-time__label {
            font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: #282739;
    margin-bottom: 8px;
    }

    .data-time__item {
        height: 46px;
    }
}