.wrapper-accountManage {
    &__content {
        width: 94%;
    }
    .content-filter {
        display: flex;
        justify-content: space-between;

        &__item {
            width: 300px;
        }
    }
}