.wrapper-reset {
    // display: flex;
    // height: 100vh;
    // justify-content: center;
    // align-items: center;
    // background-color: #b1b1b1;
    // height: 100vh !important;

    .Row {
        border-radius: 15px;
        overflow: hidden;
        height: 100vh;

        .Login__logo {
            position: relative;
            img{
                width: 170px;
                height: 136px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 82px;
            }

            .form-reset__title {
                text-align: center;
                font-size: 22px;
                font-weight: 700;
                padding-bottom: 16px;
            }

            .login__form {
                padding-top: 293px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                

                .login__forgot-password {
                    color: #e73f3f;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: -20px;
                    margin-bottom: 20px;
                }

                .login__forgot-password--error {
                    text-align: center;
                    margin-top: 20px;
                }

                .resetPasswordBtn {
                    display: flex;
                    justify-content: space-between;

                }
            }
        }
    }

    .login__handle {
        width: 592px;
    }

    .login__img {
        position: relative;
        background-color: #fff;
        img {
            width: 800px;
            height: 764px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        } 
    }
}

