.Breadcrumb {
    display: flex;

    .Breadcrumb-item {
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #7E7D88;
    }

    .active {
        color: #FF7506;
    }

    .icon-arrow-right {
        margin: 0px 20px;
    }
}