.BtnDefault{
    width: 162px;
    line-height: 40px;
    background-color: #ff9138;
    text-align: center;
    margin: auto;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border:1px solid #ff9138;
}

.BtnOutline{
    width: 162px;
    line-height: 40px;
    background-color: #f6f6f6;
    text-align: center;
    margin: auto;
    border-radius: 7px;
    color: #ff9183;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border:1px solid #ff9138;
    
}

.BtnBlur {
    width: 162px;
    line-height: 40px;
    background-color: #fff2e7;
    text-align: center;
    margin: auto;
    border-radius: 7px;
    color: #ff9183;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    
}