.wrapper-managerDevice {
    &__content {
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
        border-radius: 16px;
        padding: 16px 24px;
        width: 95%;
    }

    .device-info__items {
        width: 96%;
    }

    .ant-select-selection-overflow {
        padding: 11px 0;
    }

    .ant-select-selection-item{
        padding: 1px 12px;
        align-items: center;
        gap: 0px;
        background-color: #FFAC6A;
    }

    .anticon-close{
        svg{
            width: 12px;
            height: 12px;
            fill: #fff;
        }
    }

    .ant-select-selection-item-content{
        font-size: 16px;
        padding: 5px;
    }

    &__btn {
        margin-top: 30px;
        display: flex;
        // gap: 100px;
        justify-content: center;
        gap: 30px;

        div {
            margin: 0;
            padding: 5px;
        }
    }
}