@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Nunito", sans-serif;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #ff7506;
    margin-bottom: 16px;
}

ul,
li {
    list-style: none;
}

.button-add {
    position: fixed;
    right: 0px;
    top: 310px;
    padding: 12px 6px;
    background-color: #fff2e7;
    width: 90px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #ff7506;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 8px;
}

.wrapper-table {
    width: 100%;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 20px;
    overflow: hidden;

    .even {
        td {
            background-color: #fff2e7;
        }
    }

    th {
        background-color: #ff9138;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #fff;

        padding: 12px 17px;
    }

    td {
        background-color: #fff;
        padding: 14px 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #535261;

        img {
            margin-right: 10px;
            line-height: 21px;
            margin-bottom: 1px;
        }

        a {
            color: #4277ff;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.require {
    color: red;
}

.inputCheckbox {
    display: none; /* Ẩn checkbox mặc định */

    /* Tạo hình dạng tùy chỉnh cho checkbox */
    & + label {
        position: relative;
        padding-left: 30px; /* Để tạo không gian cho hình dạng checkbox */
        cursor: pointer;

        /* Tạo hình dạng checkbox */
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 20px; /* Kích thước checkbox */
            height: 20px; /* Kích thước checkbox */
            border: 1.5px solid #4277ff; /* Viền checkbox */
            border-radius: 4px;
            background-color: #fff; /* Màu nền checkbox */
        }
    }

    /* Tạo hình dạng "tick" khi checkbox được chọn */
    &:checked + label::before {
        background-color: #4277ff;
    }

    /* Tạo hình dạng "tick" bên trong checkbox */
    & + label::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 7px; /* Kích thước "tick" */
        height: 12px; /* Kích thước "tick" */
        border: solid #fff; /* Màu "tick" */
        border-width: 0 2px 2px 0; /* Hình dạng "tick" */
        transform: rotate(45deg); /* Góc xoay "tick" */
        visibility: hidden; /* Ẩn "tick" mặc định */
    }

    /* Hiển thị "tick" khi checkbox được chọn */
    &:checked + label::after {
        visibility: visible; /* Hiển thị "tick" khi checkbox được chọn */
    }
}

.checkbox-option-item_label {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #282739;
}
