.wrapper-service {
    width: 93%;
    .service-content__filter-items {
        display: flex;
        gap: 20px;
        align-items: start;
    }

    .service-content__filter-item{ 
        p {
            margin-bottom: 8px;
        }
    }

    .data-time-item {
        margin-right: auto;
    }

    .data-time {
        &__item {
            height: 46px;
        }
    }
}