.wrapper-roleManage {
    .content-filter {
        width: 94%;

        .content-filter__item {
            float: right;
        }
    }
    .table-content {
        width: 94%;
    }

    .button-add {
        top: 202px;
    }
}